body {
    background:url(bglebah.jpg) center no-repeat fixed,
    url(bg\ tabel.jpg) bottom right no-repeat fixed;
    background-size: 300px 300px ,cover;
    /*contain , cover , 60% 60% */
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    text-align: center;
    font-size: 30px;
}

table, td, th {
    border-collapse: collapse;
    color: rgb(20, 15, 4);
    width: 900px;
    height: 40px;
}

tr:nth-child(even){
    background: rgb(190, 131, 213);
}
tr:nth-child(odd) {
    background: rgb(122, 79, 133);
}
tr:hover{
    background: rgb(157, 108, 73);
}
a:link {
    background: rgba(157, 86, 172, 0.653);
}
a:hover{
    background: rgb(114, 84, 46);
}
a:active{
    background: rgb(94, 51, 78);
}
a:visited{
    background: azure;
}

.container {
    background-color: rgb(133, 53, 77);
    align-items: center;
    justify-content: center;
    border: 2px dashed ;
    width: 780px;
    border-radius: 20px;
    box-shadow: 1280;
    padding-bottom: 40px;
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border: 2px dashed white;
    background: rgb(252, 151, 227);
    padding: 60px;
    border-radius: 40px;
    opacity: 0.8;
}